<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD - ANGULAR 13</title>
</head>

<body>
  <mat-toolbar color="primary">
    <span>My Admin - Customers</span>
    <span class="example-spacer"></span>
    <span class="container allstudents-container">
      <a mat-raised-button routerLink="/add-student">NEW USER</a>
    </span>
  </mat-toolbar>

  <router-outlet></router-outlet>
</body>

</html>